# Drills - Intermediate visualization 

## Challenge: Data cleaning & validation

by: Melissa N

In [274]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re

In [275]:
df = pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv',encoding = "ISO-8859-1")
df.head() #Not using Print statement so that it displays all in one line for all tables

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

### determine the five most common journals and the total articles for each.

In [276]:
df['Journal title'].value_counts().head(5)

PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
Name: Journal title, dtype: int64

In [277]:
#We Note that PloS One and Plos ONE are the same so let's write everyting in lower case and find top 5

In [278]:
# saving the change to Journal Title
df['Journal title'] = df['Journal title'].str.lower()

# remove the extra white spaces
df['Journal title'] = df['Journal title'].str.strip()

# Finally we have our top 5 journals
df['Journal title'].value_counts().head()

plos one                           190
journal of biological chemistry     53
neuroimage                          29
nucleic acids research              26
plos genetics                       24
Name: Journal title, dtype: int64

### Next, calculate the mean, median, and standard deviation of the open-access cost per article for each journal . You will need to do considerable data cleaning in order to extract accurate estimates. For a real bonus round, identify the open access prices paid by subject area.

In [279]:
df1 =  df[df['Journal title']== 'plos one']
df2 =  df[df['Journal title']== 'journal of biological chemistry']
df3 =  df[df['Journal title']== 'neuroimage']
df4 =  df[df['Journal title']== 'nucleic acids research']
df5 =  df[df['Journal title']== 'plos genetics']

In [280]:
# Renaming the columm COST (£) charged to Wellcome  to cost

df1.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'cost'},inplace=True)
df2.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'cost'},inplace=True)
df3.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'cost'},inplace=True)
df4.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'cost'},inplace=True)
df5.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'cost'},inplace=True)



# Removing '£' from the data where cost is concerned 
d1= df1.loc[:,'cost'].str.split('£',expand=True)
d2 = df2.loc[:,'cost'].str.split('£',expand=True)
d3 = df3.loc[:,'cost'].str.split('£',expand=True)
d4 = df4.loc[:,'cost'].str.split('£',expand=True)
d5 = df5.loc[:,'cost'].str.split('£',expand=True)

/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [281]:
#dir(d1)
#type(d1)
#type(d1[1])
#d1[1].convert_objects(convert_numeric=True)  <== System ask to use to numerics

In [282]:
 
### Convert objects to numeric 

d1[1] = pd.to_numeric(d1[1], errors='ignore')
d2[1] = pd.to_numeric(d2[1], errors='ignore')
d3[1] = pd.to_numeric(d3[1], errors='ignore')
d4[1] = pd.to_numeric(d4[1], errors='ignore')
d5[1] = pd.to_numeric(d5[1], errors='ignore')

In [283]:
print('For the Journal named plos one')
#Calculate mean 
print('the mean is {:.2f}'.format(d1[1].mean()))

#Calculate median 
print('the median is {:.2f}'.format(d1[1].median()))


#calculate the Variance 
print('the variance is {:.2f}'.format(d1[1].var()))


#calculate the the Standard deviation
print('the standard deviation is {:.2f}'.format(d1[1].std()))

#Calculate mode
# Return the mode using the statistics module.
print('the mode is') 

d1[1].mode()

For the Journal named plos one
the mean is 38751.29
the median is 898.48
the variance is 35724595616.58
the standard deviation is 189009.51
the mode is

0    825.68
dtype: float64

In [284]:
print('For the Journal named journal of biological chemistry')

#Calculate mean 
print('the mean is {:.2f}'.format(d2[1].mean()))

#Calculate median 
print('the median is {:.2f}'.format(d2[1].median()))


#calculate the Variance 
print('the variance is {:.2f}'.format(d2[1].var()))

#calculate the the Standard deviation
print('the standard deviation is {:.2f}'.format(d2[1].std()))

#Calculate mode
# Return the mode using the statistics module.
print('the mode is') 

d2[1].mode()

#calculate the the Standard deviation of fatalities
#print('the standard deviation is {:.2f}'.format(np.std(d1, ddof=1)))

For the Journal named journal of biological chemistry
the mean is 20264.63
the median is 1314.53
the variance is 18814371207.51
the standard deviation is 137165.49
the mode is

0    1276.08
1    1556.61
dtype: float64

In [285]:
print('For the Journal named neuroimage')

#Calculate mean 
print('the mean is {:.2f}'.format(d3[1].mean()))

#Calculate median 
print('the median is {:.2f}'.format(d3[1].median()))


#calculate the Variance 
print('the variance is {:.2f}'.format(d3[1].var()))

#calculate the the Standard deviation
print('the standard deviation is {:.2f}'.format(d3[1].std()))

#Calculate mode
# Return the mode using the statistics module.
print('the mode is') 

d3[1].mode()

For the Journal named neuroimage
the mean is 2215.17
the median is 2326.43
the variance is 71104.33
the standard deviation is 266.65
the mode is

0    1762.69
1    2503.34
dtype: float64

In [286]:
print('For the Journal named nucleic acids research')

#Calculate mean 
print('the mean is {:.2f}'.format(d4[1].mean()))

#Calculate median 
print('the median is {:.2f}'.format(d4[1].median()))


#calculate the Variance 
print('the variance is {:.2f}'.format(d4[1].var()))

#calculate the the Standard deviation
print('the standard deviation is {:.2f}'.format(d4[1].std()))

#Calculate mode
# Return the mode using the statistics module.
print('the mode is') 

d4[1].mode()

For the Journal named nucleic acids research
the mean is 1149.00
the median is 852.00
the variance is 196196.24
the standard deviation is 442.94
the mode is

0    852.0
dtype: float64

In [287]:
print('For the Journal named plos genetics')

#Calculate mean 
print('the mean is {:.2f}'.format(d5[1].mean()))

#Calculate median 
print('the median is {:.2f}'.format(d5[1].median()))


#calculate the Variance 
print('the variance is {:.2f}'.format(d5[1].var()))

#calculate the the Standard deviation
print('the standard deviation is {:.2f}'.format(d5[1].std()))

#Calculate mode
# Return the mode using the statistics module.
print('the mode is') 

d5[1].mode()

For the Journal named plos genetics
the mean is 84839.43
the median is 1718.39
the variance is 79448277230.45
the standard deviation is 281865.71
the mode is

0      1456.19
1      1807.60
2    999999.00
dtype: float64