In [32]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import statistics
%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 5.0)#view head of Data

Data Source: Amsterdam availability data scraped from AirBnB on December 24th.   
Question: What are the popular neighborhoods in Amsterdam?  

Answer:  
This Data may be too biased because this was taken before Christmas day.  
There might be a lot more people in Amsterdam for that period of time. More than usual.  

The Question could be reframe by asking what are the popular neighborhood in Amsterdam for Visitors during the Christmas Holydays.

Data Source: Mental health services use on September 12, 2001 in San Francisco, CA and New York City, NY.  
Question: How do patterns of mental health service use vary between cities?  

Answer:  
The data from NY City on September 12 2001 may not be one that gives us the information we need.  
September 12 was the day after the September 11 attack, so there might be an increase of Mental health patient in that city on that particular day.   

The Question could be reframe by asking about a comparison of the Mental health pattern between the cities after September 11 2001.

Data Source: Armenian Pub Survey.  
Question: What are the most common reasons Armenians visit local pubs?

In [33]:
#import data frame and view head
df = pd.read_csv('armenian_pubs.csv')

This Data is from Kaggle: [Pub Data](https://www.kaggle.com/erikhambardzumyan/pubs/data)  
It gives us information about the gender, Age Lifestyle and occupations of the Armenian who visit Pubs.

Income - Your Approximate Monthly Income (in Armenian Dram)  

Fav_Pub - Which is your Favorite Pub?  

WTS -Maximum willingness to spend at the pub  

Freq - How often do you visit pubs?   

Prim_Imp - Which feature is of primary importantance for you?  

Sec_Imp - Which feature is of secondary importantance for you?  

Stratum - From which regional stratum are you?  

Lifestyle - What is your lifestyle?  

Occasions- On which occasions do you go to pubs most of the time?

In [40]:
#view head of Data
df.head()

,Timestamp,Age,Gender,Income,Occupation,Fav_Pub,WTS,Freq,Prim_Imp,Sec_Imp,Stratum,Lifestyle,Occasions
0,2017/02/25 10:52:03 PM GMT+4,19,Male,100000.0,Student,Station,2000.0,Several times in a month,Environment,Menu,Capital,Nightlife,Hang outs with friends
1,2017/02/25 10:53:19 PM GMT+4,19,Female,50000.0,Student,Calumet,2000.0,rarely (once two week/or a month),Music,Pricing,Capital,Adventure/traveling/exploring,Hang outs with friends
2,2017/02/25 10:54:05 PM GMT+4,20,Male,100000.0,Student,Liberty,3000.0,rarely (once two week/or a month),Environment,Music,Capital,"Busy(student life, work)",Hang outs with friends
3,2017/02/25 10:55:09 PM GMT+4,18,Male,0.0,Student,Calumet,3000.0,Several times in a month,Environment,Music,Capital,Art,Hang outs with friends
4,2017/02/25 10:55:38 PM GMT+4,19,Female,130000.0,Student + working,Liberty,10000.0,rarely (once two week/or a month),Pricing,Environment,Capital,NaN,Hang outs with friends

In [53]:
df.describe()

             Age        Income            WTS
count  175.000000  1.740000e+02    172.000000
mean    19.548571  1.101977e+05   4831.395349
std      2.770262  3.576027e+05   4323.951020
min     16.000000  0.000000e+00      0.000000
25%     18.000000  1.000000e+02   2000.000000
50%     19.000000  5.500000e+04   4000.000000
75%     20.000000  1.000000e+05   5000.000000
max     41.000000  4.500000e+06  30000.000000

In [ ]:
df.groupby('League').describe()

In [49]:
df['Prim_Imp'].describe()

count             175
unique              4
top       Environment
freq              122
Name: Prim_Imp, dtype: object

In [50]:
df['Sec_Imp'].describe()

count       175
unique        4
top       Music
freq         66
Name: Sec_Imp, dtype: object

In [51]:
df['Freq'].describe()

count                                   175
unique                                    3
top       rarely (once two week/or a month)
freq                                     94
Name: Freq, dtype: object

Answer:  
From my analysis it seems that one of the main reason why Armenian visit Pubs is the environment and Music.     

The Question could be reframe by asking what are the main reason why Armenian Students go to Armenian Pubs because it seems that most of the people in the Data are students and thus not a representation on the Armenian Population.