# Drills - SQL - data access methods
## Joins and CTEs

 Write SQL queries to return:

### What are the three longest trips on rainy days?  


SELECT  
	t.duration,  
	w.date,  
	w.events  
FROM   
	trips t  
JOIN  
	weather w  
ON  
	t.zip_code = w.ZIP  
WHERE     
	events like 'Rain'     
ORDER BY   
	t.duration desc  
LIMIT 3

### Which station is empty most often?



SELECT   
	s1.station_id,  
	s2.station_id,   
	s2.bikes_available,  
	COUNT(s1.name) Times_Empty  
FROM    
	stations s1   
JOIN   
	status s2   
ON   
	s1.station_id = s2.station_id   
WHERE    
	bikes_available = 0   
GROUP BY    
	s1.name   
ORDER BY 4 DESC

### Return a list of stations with a count of number of trips starting at that station but ordered by dock count.



SELECT     
	s.name,  
	s.dockcount,   
	COUNT(t.start_station) Station_count   
FROM    
	trips t   
JOIN    
	stations s   
ON   
	t.start_station = s.name   
GROUP BY   
	t.start_station   
ORDER BY 2

### (Challenge) What's the length of the longest trip for each day it rains anywhere?



WITH  
    locations  
AS (  
     SELECT  
        Date,    
	    Events  
     FROM  
        weather
     WHERE     
	   events like 'Rain' 
   GROUP BY  Date 	   
)
SELECT
    l.Date,
    l.Events,
    t.duration
FROM
    locations l
JOIN
	weather w
ON
	l.Date = w.Date
JOIN
    trips t
ON
    t.zip_code = w.ZIP
ORDER  BY 
        t.duration DESC